/* .btn {
    background-color: #212125;
    border-radius: 4px;
    color: #f8f8f8;
    display: inline-block;
    padding: 10px;
    outline: 0;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn_sizeMin {
    min-height: 50px;
    min-width: 100px;
}

.btn_sizeFull {
    display: block;
    width: 100%;
}

.btn:hover {
    background-color: #008183;
    text-decoration: none;
} */



h2 {
    color: lightgrey;
    font-family: 'VT323', monospace;
    font-size: 64px;
    padding-top: 1cm;

}

h3 {
    color: darkgrey;
    font-size: 32px;

}

h4 {

    color: lightgrey;
    font-family: 'VT323', monospace;
    

}

p {
    padding-bottom: 3cm;
}